body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  animation: fadeIn 2s ease;
}

h1 {
  color: #e91e63;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  background: #e91e63;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
}

button:hover {
  background: #c2185b;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}.heart {
  position: fixed;
  bottom: -10px;
  width: 20px;
  height: 20px;
  background: red;
  transform: rotate(45deg);
  animation: floatUp linear forwards;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}

.heart::before {
  top: -10px;
  left: 0;
}

.heart::after {
  left: -10px;
  top: 0;
}

@keyframes floatUp {
  to {
    transform: translateY(-100vh) rotate(45deg);
    opacity: 0;
  }
}#noBtn {
  position: absolute;
  margin-top: 20px;
}