body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  position: relative;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  background: #e91e63;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

#noBtn {
  position: absolute;
  margin-top: 20px;
}

/* Жүректер */
.heart {
  position: fixed;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: red;
  transform: rotate(45deg);
  animation: floatUp linear forwards;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}

.heart::before { top: -10px; left: 0; }
.heart::after { left: -10px; top: 0; }

@keyframes floatUp {
  to {
    transform: translateY(-100vh) rotate(45deg);
    opacity: 0;
  }
}

/* Бастау экран */
#startScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}